<!DOCTYPE html>
<html>
    <head>
        <meta  charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../src/style/home.css"></style>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="../assets/jquery-3.2.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="../assets/js/dashboard.js"></script>
    </head>
    <body>
        <div class="container-fluid" id="ussd-edit-contents">
            <div class="row container">
                <div class="row header">
                    <h4>Edit Ussd</h4>
                </div>
                <div class="row sub-header">
                    <label for="">USSD CODE</label> 
                    <select name="" id="ussdDialCode">
                        <option value="">*121#</option>
                    </select>
                </div>
                <div class="row" id="edit-contents">
                    <div id="exTab3" class="container">	
                        <ul  class="nav nav-pills">
                            <li class="active">
                                <a  href="#1b" data-toggle="tab">First Menu</a>
                            </li>
                            <li>
                                <a href="#2b" data-toggle="tab">Second Menu</a>
                            </li>
                            <li>
                                <a href="#3b" data-toggle="tab">Third Menu</a>
                            </li>
                            <li>
                                <a href="#4b" data-toggle="tab">Fourth Menu</a>
                            </li>
                            <li>
                                <a href="#5b" data-toggle="tab">Fifth Menu</a>
                            </li>
                            <li>
                                <a href="#6b" data-toggle="tab">Sixth Menu</a>
                            </li>
                        </ul>
                
                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="1b">
                                <div class="container">
                                    <div class="row headerBtn">
                                        <span>First Content</span>
                                        <button class="btn btn-primary new-field">Add New Field <i class="fa fa-plus-circle"></i></button>
                                    </div>
                                    <div class="inputContainer">
                                        <div class="form-group">
                                            <div id="headerContent">
                                                <h4>Menu Header</h4>
                                            </div>
                                            <div id="menuChoices">
                                                <h4>Menu Content</h4>
                                            </div>
                                            <div id="peritem">  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="2b">
                                <div class="container">
                                    <h3>Second Content</h3>
                                    <div class="inputContainer">
                                        <div class="form-group">
                                            <div id="menuTagOne">

                                            </div>
                                            <div id="headerContentOne">
                                                <p>Header</p>
                                            </div>
                                            <div id="menuOne">
                                                <p>Menu List</p>  
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div id="menuTagTwo">

                                            </div>
                                            <div id="headerContentTwo">
                                                <p>Header</p>
                                            </div>
                                            <div id="menuTwo">
                                                <p>Menu List</p>    
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div id="menuTagThree">

                                            </div>
                                            <div id="headerContentThree">
                                                <p>Header</p>
                                            </div>
                                            <div id="menuThree">
                                                <p>Menu List</p>    
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div id="menuTagFour">

                                            </div>
                                            <div id="headerContentFour">
                                                <p>Header</p>
                                            </div>
                                            <div id="menuFour">
                                                <p>Menu List</p>    
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div id="menuTagFive">

                                            </div>
                                            <div id="headerContentFive">
                                                <p>Header</p>
                                            </div>
                                            <div id="menuFive">
                                                <p>Menu List</p>    
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div id="menuTagSix">

                                            </div>
                                            <div id="headerContentSix">
                                                <p>Header</p>
                                            </div>
                                            <div id="menuSix">
                                                <p>Menu List</p>    
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div id="menuTagSeven">

                                            </div>
                                            <div id="headerContentSeven">
                                                <p>Header</p>
                                            </div>
                                            <div id="menuSeven">
                                                <p>Menu List</p>    
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div id="menuTagEight">

                                            </div>
                                            <div id="headerContentEight">
                                                <p>Header</p>
                                            </div>
                                            <div id="menuEight">
                                                <p>Menu List</p>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="3b">
                                <div class="container">
                                    <h3>Third Content</h3>
                                    <div class="row inputContainer">
                                        <div class="form-group">
                                            <label for="">3)</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="4b">
                                <div class="container">
                                    <h3>Fourth Content</h3>
                                </div>
                                <div class="row inputContainer">
                                    <div class="form-group">
                                        <label for="">4)</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="5b">
                                <div class="container">
                                    <h3>Fifth Content</h3>
                                </div>
                                <div class="row inputContainer">
                                    <div class="form-group">
                                        <label for="">5)</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="6b">
                                <div class="container">
                                    <h3>Sixth Content</h3>
                                </div>
                                <div class="row inputContainer">
                                    <div class="form-group">
                                        <label for="">6)</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Buttons">
                    <button class="btn btn-primary save">Save</button><br>
                    <a href="">Cancel</a>
                </div>
            </div>
        </div>
    </body>
</html>